<div class="container">

<h1> Products</h1>
<div style="margin-bottom: 1em">
    <button type="button" class="btn btn-outline-secondary">Add</button>
  </div>
<div class="table-responsive-sm">
<table class="table table-bordered table-hover table-striped">

    <thead class="thead-dark">
      <tr>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
          <td>{{ product.productname }}</td>
          <td>{{ product.productcategoty }}</td>
          <td>{{ product.productdescription }}</td>
          <td>{{ product.productprice }}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary" [routerLink] = "['/admin/product/', product.productid]">Edit</button>

          </td>
      </tr>

    </tbody>
  </table>
</div>
</div>
